# 2489-2021 Data Curation T1 Final Exam 

The final exam will contain 1 question with subquestions. 

## Lemon or Peach? (60 points)

For those who have taken ECON 101, you should already be quite familar with the term **lemon car** that refers to a car found to be defective only after it has been bought. In 1970, economist George Akerlof published a paper "The Market for Lemons: Quality Uncertainty and the Market Mechanism" that explored how the quality of goods traded in a market can degrade in the presence of *information asymmetry* between buyers and sellers. This leads to the **adverse selection** problem that  sellers will sell only when they hold "lemons" and they will leave the market when they hold "peaches". As such, Adverse selection is a market mechanism that can lead to a market collapse. In 2001, Akerlof, along with Michael Spence, and Joseph Stiglitz, jointly received the Nobel Memorial Prize in Economic Sciences, for their research on issues related to asymmetric information.

![lemoncar](https://blog.drivetime.com/wp-content/uploads/2014/06/lemon-car.png)

Online information system creates platform for buyers and sellers to trade their goods with information about the goods. However, lemon problem becomes even worse as buyers have no way to verify and examine the goods (such as used cars) and have to rely on information posted by the sellers. 

In order to address this problem, large-scale historical purchase data would allow online retailers to alleviate the issue. For example, OLX group is a global online marketplace operating in 45 countries. The OLX marketplace is a platform for buying and selling services and goods such as electronics, fashion items, furniture, household goods, Properties, cars and bikes. Their business model is to charge sellers listing fees when they post the advertisement. Their business objective is to facilitate transactions on the platform such that buyers would be willing to repeately purchase quality goods with reasonable price and sellers would be willing to list more goods for profits. 

As the analyst, you are given the task **to examine the information about listings of used cars on OLX Portugal that a car is considered to be sold or not if the days of listing is within the 30 days.** Otherwise, the seller has to pay extra to relist the advertisement until it is sold or withdrawn. 



**OLX Car Dataset (olx_car_dataset.csv)**
All car listings are contained in the file olx_car_dataset.csv. Each line of this file after the header row represents one listing of car on the OLX platform, and has the following format:
**`'ID', 'region_id', 'private_business', 'price', 'make', 'model', 'fuel_type', 'mileage', 'reg_year', 'eng_capacity', 'color', 'capacity', 'dayslive'`**

The columns are quite self-explained. `dayslive` is the days of the listing on the OLX until the card is sold or withdrawn. 


Answer the following questions using the provided dataset. You can write down intermediate results towards the final answers.

In [1]:
import pandas as pd
import numpy as np
import math

### Question 1 (15 points) 

The dataset can store up to 10,000 car listings and therefore in total contains 3 parts. 

Meanwhile, each part of the data contains a few errors that need to be resolved:

- the ```price``` column of part1 is mistakenly encoded as ```prices``` 
- the ```region_id``` column of part 1 is all in the wrong sign, e.g. the region_id of 11 is wrongly encoded as -11
- the ```private_business``` column of part2 is mistakenly encoded as ```private```
- the ```mileage``` column of part2 is miscalculated by taking a logarithm of its original value
- the ```capacity``` column of part3 is wrongly set as missing value when the capacity is 5
- the ```model``` column of part3 is wrongly encoded with also the ```make``` columns, e.g. BMW 320 should have BMW in the column ```make``` and 320 in the column ```model```.

Read the datasets and concatenate them all into one dataset and show how many car listings are in the entire dataset?

In [13]:
car1 = pd.read_csv("cars_dataset_part1.csv", index_col = 0, header = 0)
car2 = pd.read_csv("cars_dataset_part2.csv", index_col = 0, header = 0)
car3 = pd.read_csv("cars_dataset_part3.csv", index_col = 0, header = 0)

car1[["region_id"]] = (-1)*car1[["region_id"]] #fix reigion
car1.rename(columns = {"prices": "price"}, inplace = True) #fix prices

car2.rename(columns = {"private": "private_business"}, inplace = True) #fix prices
car2["mileage"] = np.exp(car2["mileage"])

car3["capacity"] = car3["capacity"].fillna(5)

car3["model"] = car3.model.str.split("-").str[1:len(car3.model.str.split("-"))]
car3_new = car3.copy()
car3["model"] = pd.DataFrame(car3.model.tolist(), index= car3.index)

car = [car1,car2,car3]
olx_car_dataset = pd.concat(car)
olx_car_dataset

,Unnamed: 0.1,ID,region_id,private_business,price,make,model,fuel_type,mileage,reg_year,eng_capacity,color,capacity,dayslive
0,0,6321a87b1e923f46d9acdf3322fcee72a6879188,11,business,29250.0,mini,cooper,diesel,14500.0,2017,1496,blue,5.0,15
1,1,0a3d81767bf143b60729f7ee1c764db91f05f557,13,business,3999.0,land-rover,freelander,diesel,150000.0,2000,2000,green,5.0,98
2,2,2671be1fef116b2d5b1d6ecebb734ce349232ca2,11,business,30600.0,mercedes-benz,c-250,diesel,118827.0,2013,2143,white,5.0,110
3,3,628ac15170274c64fa4aa70b3a917cbc1b2c4d89,11,business,25500.0,volvo,xc-60,diesel,102519.0,2013,1984,other,5.0,17
4,4,5a73a4a249f4044b9b42eae533cb6a72b4a0c35a,11,business,7000.0,opel,vectra,diesel,120000.0,2004,2172,blue,5.0,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26365,26365,7c367aa8556d15f9e9973f8dd13541e1c26f63bc,3,business,18250.0,renault,captur,diesel,8800.0,2018,1461,brown,5.0,24
26366,26366,6a90f7f5a642d8eb8f75ac8f41af1e2cafc304e6,11,business,21500.0,bmw,320,diesel,73736.0,2014,1995,other,5.0,7
26367,26367,7de1412ec35c4d11e6ac8ca070979dab293beb26,15,business,31890.0,peugeot,3008,diesel,15000.0,2018,1560,white,5.0,10
26368,26368,f03ab44cc1f9ef695041c253e133096fae28d9d6,15,business,18850.0,fiat,tipo,diesel,51100.0,2017,1600,blue,5.0,20
26369,26369,4abdc6f15830ab771161712270ed2c0528365451,11,business,3750.0,lancia,phedra,diesel,200000.0,2004,2200,golden,7.0,7

### Question 2 (5 points) 
Show the average price of all diesel cars

In [15]:
a_price = olx_car_dataset[olx_car_dataset["fuel_type"] == "diesel"]["price"].mean()
print(a_price)

17820.627270439607

### Question 3 (5 points)

Show the median mileage of all eletric vehicles from region 13:

In [16]:
olx_car_dataset[((olx_car_dataset["region_id"] == 13) & (olx_car_dataset["fuel_type"] == "electric"))]["mileage"].median()

37499.99999999998

### Question 4 (5 points)

Show the top 5 most popular car make listed by private owners and registered since 2017:

In [17]:
q4 = olx_car_dataset[((olx_car_dataset["private_business"] == "private")& (olx_car_dataset["reg_year"] > 2016))]
q4.groupby(["make"])["make"].agg(["count"]).sort_values(by='count', ascending=False).head(5)

               count
make
renault           17
mercedes-benz     16
fiat              10
peugeot            8
vw                 7

### Question 5 (5 points)

Show the difference of average price of diesel cars with mileage larger than 100,000 kms and smaller than 5,000 kms. What do you find? How about gaz cars?

In [18]:
diesel_100 = olx_car_dataset[((olx_car_dataset["mileage"] > 100000) & (olx_car_dataset["fuel_type"] == "diesel"))]["price"].mean()
diesel_5 = olx_car_dataset[((olx_car_dataset["mileage"] < 5000) & (olx_car_dataset["fuel_type"] == "diesel"))]["price"].mean()
diff100_5 = diesel_100 - diesel_5
print("The difference of avarge price of diesel cars with mileage larger than 100,000 kms and smaller than 5,000 kms is", diff100_5)
print("The cars with less kms are more expensive.")
gaz_100 = olx_car_dataset[((olx_car_dataset["mileage"] > 100000) & (olx_car_dataset["fuel_type"] == "gaz"))]["price"].mean()
gaz_5 = olx_car_dataset[((olx_car_dataset["mileage"] < 5000) & (olx_car_dataset["fuel_type"] == "gaz"))]["price"].mean()
diff_gaz_100_5  = gaz_100-gaz_5
diff_gaz_100_5
print("The difference for gaz cars with the same mileage is: ", diff_gaz_100_5)
print("One can assume that it is pretty much the same")

The difference of avarge price of diesel cars with mileage larger than 100,000 kms and smaller than 5,000 kms is -13771.328550553235
The cars with less kms are more expensive.
The difference for gaz cars with the same mileage is:  -16058.669174508608
One can assume that it is pretty much the same

### Question 6 (5 points)

For cars with the most popular color, how many of them are sold by business sellers in region 11 and with capacity of 5 passengers?

In [19]:
print(olx_car_dataset.groupby(["color"])["color"].agg(["count"]).sort_values(by='count', ascending=False).head(1))
#white is the most popular color
olx_white = olx_car_dataset[olx_car_dataset["color"] == "white"]
p = olx_white[(olx_white["region_id"]==11) & (olx_white["private_business"] == "business") & (olx_white["capacity"]==5)].agg("count")[1]
print(p," white cars, are sold by business sellers in region 11 and with capacity of 5 passengers")

       count
color
white  11180
2101  white cars, are sold by business sellers in region 11 and with capacity of 5 passengers

### Question 7 (5 points)

Which model is listed the most expensive? On average, how many days does this model stay on the listing?

In [20]:
olx_car_dataset.sort_values("price",ascending=False).head(1)
print("The Audi A6 Avant is listed the most expensive.")
listting = olx_car_dataset[olx_car_dataset["model"] == "a6-avant"]["dayslive"].mean()
print(listting, "days this model stays on the listing")

The Audi A6 Avant is listed the most expensive.
62.36363636363637 days this model stays on the listing

### Qustion 8 (5 points)

For cars listed in region of 11 and 13, can you identify the top 5 model and make of cars that have the highest sales (i.e. the listing days smaller or less than 30 days)?

In [21]:
q8 = olx_car_dataset[(olx_car_dataset["region_id"] == 11) | (olx_car_dataset["region_id"] == 13)]
q8 = q8[(q8["dayslive"]<30)]
q8.groupby(["make","model"])["model"].agg(["count"]).sort_values(by = "count",ascending=False).head(5)

                       count
make          model
renault       clio       309
              megane     231
seat          ibiza      208
nissan        qashqai    184
mercedes-benz benz       178

### Qustion 9 (5 points)

Show the correlation between mileage, reg_year, eng_capacity and price. What do you observe?

In [22]:
print(olx_car_dataset[["mileage", "reg_year", "eng_capacity", "price"]].corr())
print("older cars have more ileage, and more eng_capacity, while they have a higher price.")
print("the price of cars is lover for more milage and increasing in reg_year. So older cars have an higher price. May there are many old-timer sold on OLX")

               mileage  reg_year  eng_capacity     price
mileage       1.000000 -0.627917      0.170031 -0.145366
reg_year     -0.627917  1.000000     -0.138543  0.148113
eng_capacity  0.170031 -0.138543      1.000000  0.083119
price        -0.145366  0.148113      0.083119  1.000000
older cars have more ileage, and more eng_capacity, while they have a higher price.
the price of cars is lover for more milage and increasing in reg_year. So older cars have an higher price. May there are many old-timer sold on OLX

### Qustion 10 (5 points)

Show the pivot table of mean and standard deviation for car prices  across the type of sellers and region (as the row), and fuel_types (as the column). If there are no available cars in each category, set the value to be 0.

In [ ]:
#q8.groupby(["private_business","region_id",])["fuel_type"][]
pd.pivot_table(data=olx_car_dataset, index=["private_business","region_id"], values = "fuel_type")